{%extends 'base.html'%}


{%block links%}
{%load static%}
<link rel="stylesheet" href="{%static 'home/css/index.css'%}">
{%endblock%}


{%block title%}
Feeds
{%endblock%}




{%block content%}




<div class="headingFeed">
  <p>Dashboard</p>
</div>

<div class="feed-grid">
  <div class="user-info">

    <div class="userImageCont">
      <div class="image">

      </div>

      <div class="userInfoName">
        <p>{{user.name}}</p>
        <small>{{user.groups.all.0|title}}</small>
      </div>
    </div>

    <div class="groups">
      <p>UID: {{user.get_username|title}}</p>
      <p>Level: {{user.level}}XP</p>
    </div>

  </div>

  <div class="user-tasks">

    <div class="task-heading">
      <p>Tasks</p>
    </div>

    <div class="task">
      <p>This is task1 </p>
      <div class="task-status"></div>
    </div>
    <div class="task">
      <p>This is task1 adsdasd sadasdas as </p>
      <div class="task-status"></div>
    </div>
    <div class="task">
      <p>This is task1 </p>
      <div class="task-status"></div>
    </div>
    <div class="task">
      <p>This is task1 </p>
      <div class="task-status"></div>
    </div>

  </div>
  
  <div class="user-tasks">

    <div class="task-heading">
      <p>Projects</p>
    </div>
 
    <div class="task">
      <p>This is task1 </p>
      <div class="task-status"></div>
    </div>
    <div class="task">
      <p>This is task1 adsdasd sadasdas as </p>
      <div class="task-status"></div>
    </div>
    <div class="task">
      <p>This is task1 </p>
      <div class="task-status"></div>
    </div>
    <div class="task">
      <p>This is task1 </p>
      <div class="task-status"></div>
    </div>

  </div>

  <div class="user-points">

  </div>

</div>


</div>

{%endblock%}

{%block js%}
<script src="{%static 'home/js/index.js'%}"></script>
{%endblock%}