

{%extends 'base.html'%}

{%block links%}
    {%load static%}
    <link rel="stylesheet" href="{%static 'project/css/detail_task.css'%}">
{%endblock%}

{%block title%} Projects {%endblock%}


{%block content%}

<div class="taskcont">

    <div class="task">

        <div class="title">
            <div class="deadline">
                <p class="deadline_heading">Deadline</p>
                <p class="deadline_value">31.03.3002</p>
            </div>

            <div class="heading">
                <p>Hello this is heading</p>
            </div>

            <div class="isexpire">
                <div class="dot"></div>
            </div>
        </div>

        <div class="desc">
            <textarea name="task_description" id="desc"  disabled>dasdsadasd</textarea>
        </div>

        <div class="remarks">
            <textarea name="remarks_description" id="r_desc"></textarea>
        </div>

        <div class="actions">
            <button type="button" class="btn btn-success">Complete</button>
        </div>

    </div>

</div>

{%endblock%}


{%block js%}
    <!-- <script src="{%static 'project/js/project.js'%}"></script> -->
{%endblock%}


