

{%extends 'base.html'%}

{%block links%}
    {%load static%}
    <link rel="stylesheet" href="{%static 'project/css/project.css'%}">

{%endblock%}

{%block title%} Projects {%endblock%}


{%block content%}

<div class="projects mb-4">
    <div class="projects-inner">
        <header class="projects-header">
            <div class="title">Ongoing Tasks</div>
            <div class="count">| {{number_of_tasks}}</div>
            <i class="zmdi zmdi-download"></i>
        </header>
        <table class="projects-table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Deadline</th>
                    <th>Assigned By</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            

            {%for task in tasks%}

            <tr>
                <td>
                    <p>{{task.title|truncatechars:15}}</p>
                    <p>AIFORKIDS</p>
                </td>
                <td>
                    <p>{{task.deadline}}</p>
                    {%if task.get_status == 1%}
                        <p class="text-danger">overdue</p>
                    {%else%}
                        <p style="color: green;">progressing</p>
                    {%endif%}
                    
                </td>
                <td class="member">
                    <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
                    <div class="member-info">
                        <p>{{task.assiged_by}}</p>
                        <p>{{task.assiged_by.groups.all.0}}</p>
                    </div>
                </td>
                
                <td class="status">
                    {%if task.get_status == 0%}
                        <span class="status-text status-green">In Progress</span>
                    {%elif task.get_status == 1%}
                        <span class="status-text status-red">Task Overdue</span>
                    {%elif task.get_status == 2%}
                        <span class="status-text status-orange">In Review</span>
                    {%endif%}
                </td>
                <td>
                    <a href="{%url 'detail_task' task.id%}" class="btn btn-success">See Task</a>
                </td>
            </tr>

            {%endfor%}
            
        </table>
    </div>
</div>

{%endblock%}


{%block js%}
    <script src="{%static 'project/js/project.js'%}"></script>
{%endblock%}


