

{%extends 'base.html'%}

{%block links%}
    {%load static%}
    <link rel="stylesheet" href="{%static 'project/css/project.css'%}">
{%endblock%}

{%block title%} Projects {%endblock%}


{%block content%}

<div class="projects mb-4">
    <div class="projects-inner">
        <header class="projects-header">
            <div class="title">Ongoing Projects</div>
            <div class="count">| 32 Projects</div>
            <i class="zmdi zmdi-download"></i>
        </header>
        <table class="projects-table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Deadline</th>
                    <th>Assigned By</th>
                    <th>Budget</th>
                    <th>Status</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <p>New Dashboard</p>
                    <p>Google</p>
                </td>
                <td>
                    <p>17th Oct, 15</p>
                    <p class="text-danger">Overdue</p>
                </td>
                <td class="member">
                    <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
                    <div class="member-info">
                        <p>Myrtle Erickson</p>
                        <p>UK Design Team</p>
                    </div>
                </td>
                <td>
                    <p>$4,670</p>
                    <p>Paid</p>
                </td>
                <td class="status">
                    <span class="status-text status-orange">In progress</span>
                </td>
                <td>
                    <form class="form" action="#" method="POST">
                    <select class="action-box">
                        <option>Actions</option>
                        <option>Start project</option>
                        <option>Send for QA</option>
                        <option>Send invoice</option>
                    </select>
                    </form>
                </td>
            </tr>
            
        </table>
    </div>
</div>

{%endblock%}


{%block js%}
    <script src="{%static 'project/js/project.js'%}"></script>
{%endblock%}


