body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #07000f;
    
  }
  form {
    height: 60vh;
    width: 350px;
    background: linear-gradient(to top left, #3d0091, #0085a6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
    
  }
  
  
  
  .inputdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  input{
    width: 230px;
    height: 30px;
    border: unset;
    border-bottom: 1px solid;
    background-color: transparent;
    border-bottom-color: cyan;
    color: white;
    cursor:pointer;
  
  }
  
  input:focus {
    animation:unset;
    background: transparent;
    color: white;
    
  }
  
  #icon{
    font-size:12px;
    color:cyan;
  }
  
  ::placeholder {
    align-text:center;
    color: rgba(255, 255, 255, 0.42);
  }
  
  #submit {
    background-color: transparent;
    width: 25%;
    height: 30px;
    color:cyan;
    border: 1px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    font-family:calibri;
    cursor:pointer;
    animation: bloomButton infinite 2s ease-in-out;
    animation-direction:alternate-reverse;
    
  }
  
  @keyframes bloomButton{
    0%{
      color:cyan;
    }
    100%{
      color:white;
    }
  }
  
  
  #login {
    font-size: 30px;
    color: white;
    font-family: baskerville;
  }
  #error {
    padding: 10px;
    font-size: 15px;
    color: rgb(255, 0, 0);
  }
  
  #formLine{
    
    height:2px;
    border:unset;
    background-color:cyan;
    margin-top:-2px;
    padding:0;
    animation:bloom infinite 2s ease-in-out;
    animation-direction:alternate-reverse;
  }
  
  
  
  @keyframes bloom{
    0%{
      width:.1%;
      background-color:white;
    }
    50%{
      background-color:#7400FF;
    }
    100%{
      width:100%;
      background-color:#00FFFB;
    }
  }
  
  
  